/* mobile.css */

button{
    color: white;
    background-color: #555;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #64998d59;
    transition: .5s;
    color: #000;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* header.css */

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: background-color 0.3s; /* Transición de color de fondo al hacer hover */
}

header:hover {
    background-color: #555; /* Cambia el color de fondo al hacer hover */
}

/* nav.css */

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; /* Transición de color al hacer hover */
}

.navbar a:hover {
    color: #ccc; /* Cambia el color del texto al hacer hover */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    header {
        text-align: left;
        padding: 20px 10px;
    }
}

.container {
    max-width: 960px;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos de las columnas */
.container > div {
    flex: 1;
    margin: 5px 5px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}


/* Estilos para las imágenes dentro de las columnas */
.container > div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container > div {
        flex-basis: calc(50% - 10px);
        margin: 10px 0;
    }
}
